<div class="all-sections section2">
  <div class="container">
    <h2 class="section-h">NEKRETNINE U TREBINJU</h2>

    <div class="ad-wrapper nek-u-tr">
      <div *ngFor="let ad of Category1" class="ad u-tr">
        <a href="/adInfo?id={{ad.id}}" style="text-decoration: none">
          <img
            [src]="ad.mainImage"
            alt="ad-photo"
          />
          <div class="square-feet-num">{{ad.squarefeet}} m2</div>
          <div class="ad-adress">{{ad.adress}}</div>
        </a>
      </div>
 
    </div>

    <button class="action-btn">
      POGLEDAJTE SVE NEKRETNINE
      <img src="../../assets//right-arrow (1) 1.png" alt="arrow" />
    </button>

    <img src="../../assets//Tviko 2.png" class="ad-dec" alt="" />

    <div class="nek-izvan-tr">
      <h2 class="section-h">NEKRETNINE IZVAN TREBINJA</h2>

      <div class="ad-wrapper">
         

        <div class="ad u-tr" *ngFor="let ad2 of Category2">
          <a href="/adInfo?id={{ad2.id}}" style="text-decoration: none">
            <img
              src="{{ad2.mainImage}}"
              alt="ad-photo"
            />
            <div class="square-feet-num">{{ad2.squarefeet}} m2</div>
            <div class="ad-adress">{{ad2.adress}}</div>
          </a>
        </div>
      </div>

      <button class="action-btn">
        POGLEDAJTE SVE NEKRETNINE
        <img src="../../assets//right-arrow (1) 1.png" alt="arrow" />
      </button>
    </div>

    <h2
      class="section-h nek-u-izg"
      style="
        text-align: center;
        color: rgb(36, 36, 36);
        margin-top: 150px;
        margin-bottom: 100px;
      "
    >
      NOVE NEKRETNINE U IZGRADNJI USKORO...
    </h2>

    <div class="nek-u-izg " [ngClass]="{'none': isCategoryThreeEmpty}">
      <h2 class="section-h">NEKRETNINE U IZGRADNJI</h2>

      <div class="ad-wrapper ad-u-izg">
        <div class="ad u-tr">
          <a href="#" style="text-decoration: none">
            <img
              src="../../assets//52967810_2105082689579593_2253021800600436736_n.png"
              alt="ad-photo"
            />
            <div class="square-feet-num">60 m2</div>
            <div class="ad-adress">Voja Danilovica bb</div>
          </a>
        </div>

        <div class="ad u-tr">
          <a href="#" style="text-decoration: none">
            <img
              src="../../assets//52967810_2105082689579593_2253021800600436736_n.png"
              alt="ad-photo"
            />
            <div class="square-feet-num">60 m2</div>
            <div class="ad-adress">Voja Danilovica bb</div>
          </a>
        </div>

        <div class="ad u-tr">
          <a href="#" style="text-decoration: none">
            <img
              src="../../assets//52967810_2105082689579593_2253021800600436736_n.png"
              alt="ad-photo"
            />
            <div class="square-feet-num">60 m2</div>
            <div class="ad-adress">Voja Danilovica bb</div>
          </a>
        </div>

        <div class="ad u-tr">
          <a href="#" style="text-decoration: none">
            <img
              src="../../assets//52967810_2105082689579593_2253021800600436736_n.png"
              alt="ad-photo"
            />
            <div class="square-feet-num">60 m2</div>
            <div class="ad-adress">Voja Danilovica bb</div>
          </a>
        </div>

        <img
          src="../../assets//ad-dec.png"
          alt="ad-card-dec"
          class="ad-card-dec"
        />
      </div>

      <button class="action-btn">
        POGLEDAJTE SVE NEKRETNINE
        <img src="../../assets//right-arrow (1) 1.png" alt="arrow" />
      </button>
    </div>
    <div class="ads-back">
      <img
        src="../../assets//istockphoto-1288292255-612x612 2.png"
        alt="ads-back"
      />
    </div>
  </div>
</div>