<div class="all-sections section2">
  <div class="container">
    <h2 class="section-h">NEKRETNINE U TREBINJU</h2>

    <div class="ad-wrapper nek-u-tr">
      <div *ngFor="let ad of Category1" class="ad u-tr">
        <a [routerLink]="['/adInfo']" [queryParams]="{id: ad.id}" style="text-decoration: none">
          <img
            [src]="ad.mainImage"
            alt="ad-photo"
          />
          <div class=" ad-adress text-nowrap">{{shortAdress(ad.title)}}</div>
          <div class="square-feet-num">{{ad.squarefeet}} m2</div>
          <div class=" ad-adress text-nowrap">{{shortAdress(ad.adress)}}</div>
        </a>
      </div>
 
    </div>
    <a [routerLink]="['/category']" [queryParams]="{id: 1}" class="action-btn text-decoration-none"  >
      POGLEDAJTE SVE NEKRETNINE
      <img src="../../assets//right-arrow (1) 1.png" alt="arrow" />
    </a>

    <img src="../../assets//Tviko 2.png" class="ad-dec" alt="" />

    <div class="nek-izvan-tr">
      <h2 class="section-h">NEKRETNINE IZVAN TREBINJA</h2>

      <div class="ad-wrapper">
         

        <div class="ad u-tr" *ngFor="let ad2 of Category2">
          <a [routerLink]="['/adInfo']" [queryParams]="{id: ad2.id}" style="text-decoration: none">
            <img
              src="{{ad2.mainImage}}"
              alt="ad-photo"
            />

            <div class=" ad-adress text-nowrap">{{shortAdress(ad2.title)}}</div>
            <div class="square-feet-num">{{ad2.squarefeet}} m2</div>
            <div class=" ad-adress text-nowrap">{{shortAdress(ad2.adress)}}</div>
          </a>
        </div>
      </div>

      <a [routerLink]="['/category']" [queryParams]="{id: 2}"  class="action-btn text-decoration-none"  >
        POGLEDAJTE SVE NEKRETNINE
        <img src="../../assets//right-arrow (1) 1.png" alt="arrow" />
      </a>
    </div>

    <h2 [ngClass]="{'none': isCategoryThreeEmpty}"
      class="section-h nek-u-izg"
      style="
        text-align: center;
        color: rgb(36, 36, 36);
        margin-top: 150px;
        margin-bottom: 100px;
      "
    >
      NOVE NEKRETNINE U IZGRADNJI USKORO...
    </h2>

    <div class="nek-u-izg " [ngClass]="{'none': !isCategoryThreeEmpty}">
      <h2 class="section-h">NEKRETNINE U IZGRADNJI</h2>

      <div class="ad-wrapper">
         

        <div class="ad u-tr" *ngFor="let ad3 of Category3">
          <a [routerLink]="['/adInfo']" [queryParams]="{id: ad3.id}" style="text-decoration: none">
            <img
              src="{{ad3.mainImage}}"
              alt="ad-photo"
              
            />
            <div class=" ad-adress text-nowrap">{{shortAdress(ad3.title)}}</div>
            <div class="square-feet-num">{{ad3.squarefeet}} m2</div>
           
            <div class=" ad-adress text-nowrap">{{shortAdress(ad3.adress)}}</div>
          </a>
        </div>
      </div>

      <a [routerLink]="['/category']" [queryParams]="{id:3}"  class="action-btn text-decoration-none">
        POGLEDAJTE SVE NEKRETNINE
        <img src="../../assets//right-arrow (1) 1.png" alt="arrow" />
      </a>
    </div>
    <div class="ads-back">
      <img
        src="../../assets//istockphoto-1288292255-612x612 2.png"
        alt="ads-back"
      />
    </div>
  </div>
</div>