   <nav class="navbar">
      <div class="container nav-wrapper">
        <div class="nav-logo">
          <a href="#" style="text-decoration: none">
            <img src="../../assets/TVIKO – kopija (1) 2.png" alt="navLogo" />
          </a>
        </div>
        <div class="nav-links">
          <a href="/" class="nav-link">POČETNA</a>
          <a href="/About-Us" class="nav-link">O NAMA</a>
          <a href="/contact" class="nav-link">KONTAKT</a>
          <a href="/category?id=1" class="nav-link  last-link">NEKRETNINE</a>
        </div>
        <div class="nav-socials">
          <img
            src="../../assets/facebook.png"
            class="fb-space"
            alt="facebook nav"
          />
          <img src="../../assets/instagram (1).png" alt="instagram nav" />
        </div>
        <div class="burger" (click)="toggleResponsiveMenu()">
          <img src="../../assets/burger.png" alt="burger" />
        </div>
      </div>
      <div class="responsive-menu none"  [ngClass]="{'none': !isMenuOpen}" >
        <a class="res-link close" (click)="toggleResponsiveMenu()">X</a>
        <a href="/" class="res-link">POČETNA</a>
        <a href="/About-Us" class="res-link">O NAMA</a>
        <a href="/contact" class="res-link">KONTAKT</a>
        <a href="/category?id=1" class="res-link last-link">NEKRETNINE</a>
      </div>
      <div class="overlay none"  [ngClass]="{'none': !isMenuOpen}" (click)="toggleResponsiveMenu()"></div>
    </nav>
 