<!-- Footer -->
<footer class="text-center text-lg-start bg-footer">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">  
      </div>
      <!-- Left -->
  
      <!-- Right -->
 
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
             <img src="../../assets/biglogo.png" height="120px" >
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
                MAPA SAJTA
            </h6>
            <p>
              <a href="#!" class="text-reset">POČETNA</a>
            </p>
            <p>
              <a href="#!" class="text-reset">O NAMA</a>
            </p>
            <p>
              <a href="#!" class="text-reset">KONTAKT</a>
            </p>
            <p>
              <a href="#!" class="text-reset">NEKRETNINE</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
                DRUŠTVENE MREŽE
            </h6>
            <div class="align-items-center mx-auto mb-4">
                
            <img src="../../assets/fb.png" height="32" class="social" />
            <img src="../../assets/whatsap.png" height="32" class="social" />
            <img src="../../assets/ig.png" height="32" class="social" />
            </div>
            <h6 class="text-uppercase fw-bold mt-4">
                NAŠA ADRESA
            </h6>
            <p>
                <a href="#!" class="text-reset">Vuka Karadžića 23</a>
              </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">KONTAKT TELEFON</h6>
            <a  class="text-reset" >+387 (0)65 379 162</a><br>
            <a  class="text-reset" >+387 (0)66 940 924</a>
           
            <h6 class="text-uppercase fw-bold mb-4 mt-2">RADNO VRIJEME</h6> 
            <a  class="text-reset" >Radnim danima: 07:00 - 14:00</a><br> 
        

 

          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
 
  </footer>
  <!-- Footer -->