<main>
    <div class="wrap"></div> 
  
    <div class="px-4 py-5 my-5  w-75" bis_skin_checked="1"> 
      <h1 class="display-5 fw-bold px-5">NEKRETNINE</h1>
      
    </div>
   
  </main>

  <section>
    <div class="container-fluid">
        <div class="row mx-auto w-75">
            <div class="col">
                <a href="/category?id=1">{{id}}</a>
            </div>
            
            <div class="col">
                <a href="/category?id=2">NEKRETNINE U TREBINJU</a>
            </div>
            
            <div class="col">
                <a href="/category?id=2">NEKRETNINE U TREBINJU</a>
            </div>
            
        </div>
    </div>

  </section>