<div class="re-back">
    <div class="container">
      <h2 class="re-heading">NEKRETNINE</h2>
    </div>
  </div>

  <div class="container">
    <h2 class="section-h">KATEGORIJE</h2>

    <div class="category-btns">
      <a class="category-btn text-decoration-none" [routerLink]="['/category']" [queryParams]="{id: 1}" [ngClass]="{'active': catOneSelected}">NEKRETNINE U TREBINJU</a>
      <a class="category-btn text-decoration-none" [routerLink]="['/category']" [queryParams]="{id: 2}" [ngClass]="{'active': catTwoSelected}" >NEKRETNINE IZVAN TREBINJA</a>
 
        <a   *ngIf="!catThreeEmpty" class="category-btn text-decoration-none" [routerLink]="['/category']" [queryParams]="{id: 3}" [ngClass]="{'active': catThreeSelecteD}"  >NEKRETNINE U IZGRADNJI</a>
     
        <a *ngIf="catThreeEmpty" class="category-btn text-decoration-none disabled"   [ngClass]="{'active': catThreeSelecteD}"  >USKORO...</a>
     
    </div>
  </div>

  <div class="all-sections section2">
    <div class="container"  >
      <h2 class="section-h"  *ngIf="catOneSelected">NEKRETNINE U TREBINJU</h2>

      <h2 class="section-h"  *ngIf="catTwoSelected">NEKRETNINE IZVAN TREBINJA</h2>

      <h2 class="section-h"  *ngIf="catThreeSelecteD">NEKRETNINE U IZGRADNJI</h2>

      <div class="ad-wrapper nek-u-tr">
        <div *ngFor="let result of results | slice:startIndex:endIndex" class="ad u-tr">

 
          <a [routerLink]="['/adInfo']" [queryParams]="{id: result.id}" style="text-decoration: none">

            <img
              [src]="result.mainImage"
              alt="ad-photo"
            />

          <div class=" ad-title text-nowrap">{{shortAdress(result.title)}}</div>
            <div class="square-feet-num">{{result.squarefeet}} m2</div>
            <div class=" ad-adress text-nowrap">{{shortAdress(result.adress)}}</div>
          </a>
        </div>

     <div class="row">
     
     </div>
      <div class="container">
        <div class="next-prev">
          <button class="prev page-btn" (click)="nextPage()" >Prethodno</button>
          <button class="next page-btn" (click)="previousPage()">Sledeće</button>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>