main{
    background-image: url('../../assets/bg-category.png'); 
    margin-top: -50px;
 
}
h1{

font-family: 'Playfair Display';
 

color: #000000;
}
 
.fluid-appear{
    transition: 9s;
}

.mainImage{
    width: 100%;
}
.sf h1{
padding: 3%;
color: white;
background: #231F20;
}
h2{
    font-family: 'Playfair Display';
font-style: normal;
font-weight: 500;
font-size: 21px;
line-height: 28px;
/* identical to box height */

letter-spacing: 0.04em;

}
.social{
    margin: 5%;
}
.rooms{border: 2px solid #CD8B53 ; 
    padding: 15%;font-style: normal;
    font-weight: 700;
    font-size: 1.5em;
    line-height: 29px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #231F20; }

    .stage{ 
        padding: 15%;font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 29px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #231F20; }

        .StructureText{
    
            background-color: #CD8B53!important;
            
            font-family: 'Playfair Display';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 21px;
letter-spacing: 0.04em;
padding: 5%!important;
margin-right: 5% !important;
text-align: center;
            }        .StructureElement{
                background: rgba(104, 104, 104, 0.3);
                
                font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.04em;
    padding: 5%!important;
    margin-right: 5% !important;
    text-align: center;
    height:  40px;
                }
.other{
    background: rgba(35, 31, 32, 0.5);
}

.imgSlide{ 
    width: auto;
    
    float: left; 
    height: 300px;
    object-fit: cover;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 5; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    height: 80%;
    max-height: auto;
    
  }
  .next { 
    color: white;
  }
  
  .round { 
    cursor: pointer;
    font-size: 5em;  
    padding-left: 1%;
    padding-right: 1%;
    color: #EBE6E4; 
    text-decoration: none;
    transition: 300ms; 
    -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  }
  .round:hover{
    color: #1f1f1f;
  }
  /* Caption of Modal Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation */
  .modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }

  
  /* 100% Image Width on Smaller Screens */
 

  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
    .rooms{
      font-size: 1em;
      padding: 9%;
    }
    .strucStyle{
      padding-top: 15%;
      padding-bottom: 15%;
      text-align: center;
    }
    .divStruct{
      margin: auto;
      width: 100% !important;
    }
    .social{
      width: 16px;
      height: 16px;
    }
    .w-100-mobile{
      width: 100% !important;
    }

    .social{
      height: 24px;
    }
    .rooms{
      font-size: 15px;
    }
    .stage{
       
      font-size:16px;
      }
  }

  .carousel {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
  }
  
  .carousel-item {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .carousel-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  } 
  
  
  @media only screen and (max-width: 450px){
    .modal-content {
      width: 100%;
    }
    .strucStyle{
      padding-top: 15%;
      padding-bottom: 15%;
      text-align: center;
    }
    .divStruct{
      margin: auto;
    }

    .social{
      height: 24px;
    }
    .rooms{
      font-size: 10px;
    }
    .stage{
       
      font-size:16px;
      }
  }