<main>
    <div class="wrap"></div> 
  
    <div class="px-4 py-5 my-5  w-75" bis_skin_checked="1"> 
      <h1 class="display-5 fw-bold px-5">NEKRETNINE</h1>
      
    </div>
   
  </main>
  <app-divider></app-divider>
  <div id="myModal" class="modal"  [ngClass]="{' d-inline  text-center' : isOpened }" >
    <span class="close" (click)="closeModal()" >&times;</span>
  
    <div class="modal-contentd-flex justify-content-center" >

        <a (click)="prevImage()"  class="previous round">&#8249;</a>
        <img class="img-fluid prevImage"  src="{{imagePreview}}" height="20px" (click)="nextImage()" > 

<a  (click)="nextImage()" class="next round">&#8250;</a>
    </div>
    <div class="row text-center  mx-auto w-100">
        <div class="row d-inline">
        </div>
    </div>
</div>
  <div class="container d-none" *ngIf="ad !== undefined"> 
    <div class="row text-center m-4">
      
      <h1> {{ad.title}} </h1> 
    </div>
    <div class="ad-info-wrapper">
  
 
      <div class="gallery " #target > 
        <gallery    (itemClick)="itemClicked('ok')" class="background-color:transparent"   [items]="slidesStore" ></gallery>
     
      </div>
      <div class="onlyMobile">
        <div class="info text-center">
          <div class="squarefeet" #myButton id="myButton">{{ad.squarefeet}} m2</div>
  
          <div class="address">{{ad.adress}}</div>
  
          
  
          <h2 class="number-of-rooms">{{ad.rooms}}</h2>
  
          <div class="floor">{{ad.stage}}</div>
        </div>
  
      </div>

    </div>

    <h2 class="co-h">
      Kontaktirajte nas sada i saznajte <br> više o ovoj nekretnini!
    </h2>

    <div class="contact-infos-wrapper">
     
          <div>
            <h4 class="info-h">KONTAKT TELEFON</h4> 
            <p class="info-text">+387 (0)66 940 924</p>
          </div>

          <div>
            <h4 class="info-h">DRUŠTVENE MREŽE</h4>
            <a class="social-cont" href="https://www.facebook.com/tvikotrebinje/photos/?ref=page_internal&mt_nav=0&paipv=0&eav=AfZLNIf9x94UD5uqNEiYSArTScYKOxUpmZoqUf3FEkuBVFH_n-jHUZiD-6X6NnzUvCg&_rdr"
              ><img src="../../assets/facebook.png" alt="fb"
            /></a>
            <a class="social-cont" href="https://www.instagram.com/tvikotrebinje/"
              ><img src="../../assets/instagram (1).png" alt="insta"
            /></a>
            <a class="social-cont" href="https://api.whatsapp.com/send/?phone=38765379162&text&type=phone_number&app_absent=0"
              ><img src="../../assets/whatsap.png" height="36" alt="wa"
            /></a>
          </div>

          <div>
            <h4 class="info-h">KONTAKT TELEFON</h4>
            <p class="info-text">Radnim danima: 07:00 - 14:00</p> 
          </div>
      
    </div>

    <a  [routerLink]="['/contact']" class="action-btn text-decoration-none"  style="margin-top: 70px
    ">
      JAVITE NAM SE PUTEM EMAILA <img src="../../assets/arrow.png" alt="arrow" />
  </a>


    
  
  </div>
  
  <div class="container">
  
    <div class="row"> 
      
      <div class="CostumCarousel">
        <owl-carousel-o [options]="customOptions" >
      
          <ng-container *ngFor="let slide of images">
            <ng-template carouselSlide class="item" >
              <img [src]="slide"  (click)="preview(slide)"  >
            </ng-template>
          </ng-container>
      
        </owl-carousel-o>
      </div>
        
       
   
    
       
      <div class="col mx-auto text-center my-2">
        <div class="squarefeet   text-nowrap" #myButton id="myButton">{{ad.squarefeet}} m2</div>
        <div class="address ">{{ad.adress}}</div>
        <div class="socials m-0 d-inline" >
          <a href="https://www.instagram.com/tvikotrebinje/">
            <img src="../../assets/instagram (1).png" alt="instagram"  />
          </a>

          <a
            href="https://www.facebook.com/tvikotrebinje/photos/?ref=page_internal&mt_nav=0&paipv=0&eav=AfZLNIf9x94UD5uqNEiYSArTScYKOxUpmZoqUf3FEkuBVFH_n-jHUZiD-6X6NnzUvCg&_rdr"
          >
            <img src="../../assets/facebook.png" alt="facebook" />
          </a>

          <a href="#" class="wa">
            <img src="../../assets/whatsap.png" height="32px" alt="whatsapp" />
          </a>
        </div>
        
        <h2 class="number-of-rooms my-2 mx-auto text-center">{{ad.rooms}}</h2>
        
        <div class="floor">{{ad.floor}}</div>
  
      </div>
      <div class="col col-12-sm"  *ngIf="ad.structure" >

        <div  >
          <h3 class="str-h">Struktura soba</h3>
          <div class="table">
            <table>
              <tr>
                <th class="cell t-heading">Prostorije</th>
                <th class="cell t-heading">Kvadratura</th>
              </tr>
              <tr>
                <td class="cell row-lighter">Kuhinja</td>
                <td class="cell row-lighter">{{ad.structure.kitchen}} m2</td>
              </tr>
              <tr>
                <td class="cell row-darker">Dnevna soba</td>
                <td class="cell row-darker">{{ad.structure.lRoom}} m2</td>
              </tr>
              <tr>
                <td class="cell row-lighter">Spavaca soba</td>
                <td class="cell row-lighter">{{ad.structure.Broom}} m2</td>
              </tr>
              <tr>
                <td class="cell row-darker">Djecija soba</td>
                <td class="cell row-darker">{{ad.structure.Kroom}} m2</td>
              </tr>
              <tr>
                <td class="cell row-lighter">Kupatilo</td>
                <td class="cell row-lighter">{{ad.structure.Btroom}} m2</td>
              </tr>
              <tr>
                <td class="cell row-darker">Ukupno:</td>
                <td class="cell row-darker">{{totalRooms()}} m2</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="w-100 mx-auto">
        <div class="description">
          <h3 class="des-h">Opis:</h3>
          <p class="description-text">
            {{ad.description}}
          </p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="look-all">
    <div class="container">

      <h2 class="look-all-heading">POGLEDAJTE SVE NEKRETNINE</h2>
      <a [routerLink]="['/category']" [queryParams]="{id: 1}"  class="action-btn text-decoration-none">
        POGLEDAJTE SVE <img src="../../assets/arrow.png" alt="arrow" />
      </a>
    </div>

    <img src="../../assets/right-back.png" alt="back-img" class="right-back">
    <img src="../../assets/left-back.png" alt="back-img2" class="left-back">
  </div>
 
  <div class="container-fluid mt-5">

  <app-footer></app-footer>
  </div>