 
     <div class="info">
        <div class="info-wrapper"></div>
        <div class="container">
          <div class="content-wrapper center-info">
            <div class="info-card shift">
              <img src="../../assets/law.svg" alt="law" />
              <h3 class="card-heading">Zakonski sigurno</h3>
              <p class="card-text">
                Poštovanje najviših standarda savremenog građevinarstva i primjena
                najkvalitetnijih materijala u izgradnji objekata.
              </p>
            </div>
  
            <div class="info-card">
              <img src="../../assets/keys.svg" alt="keys" />
              <h3 class="card-heading">Tradicionalno</h3>
              <p class="card-text">
                25 godina iskustva uspješne prodaje stambenih, industrijskih i
                poslovnih objekata i zemljišta.
              </p>
            </div>
  
            <div class="info-card shift">
              <img src="../../assets/house.svg" alt="house" />
              <h3 class="card-heading">Kvalitetno</h3>
              <p class="card-text">
                Najviši standardi savremenog građevinarstva i primjena
                najkvalitetnijih materijala u izgradnji objekata.
              </p>
            </div>
  
            <div class="info-card">
              <img src="../../assets/building.svg" alt="building" />
              <h3 class="card-heading">Profesionalno</h3>
              <p class="card-text">
                Maksimalna predanost naših radnika garantuje poštovanje svih
                ugovorenih obaveza. Posvećenost našim klijentima je na prvom
                mjestu.
              </p>
            </div>
          </div>
        </div>
      </div>
    
    <div class="container-fluid mt-5 px-4">
        
        <div class="row">
            <h2>MJESTO GDJE NAS MOŽETE PRONAĆI</h2>
        </div>
        <div class="d-flex justify-content-center my-4">

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23451.524863552906!2d18.329201349473387!3d42.71556412090101!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x134c692fa1cc47b7%3A0x24bb6f016f857b65!2zVnVrYSBLYXJhZMW-acSHYSAyMywg0KLRgNC10LHQuNGa0LU!5e0!3m2!1ssr!2sba!4v1675949344850!5m2!1ssr!2sba" width="80%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
         

    </div>
    <div class="container-fluid mt-5 px-5">

        <app-contact-comp></app-contact-comp>
    </div>
<app-footer></app-footer>
 
 
